/* 
	Document   : estilo
	Created on : 31/08/2011, 15:58:09
	Author     : Lucas Emmanoel
	Description:
		Documento para formatação e configuração da estrutura visual do componente
*/
#com_simule div.chave{
	float: left;
	text-align: right;
	width: 200px;
	padding-right: 10px;
}
#com_simule div.campo{
	float: left;
	width: 400px;
}
#com_simule br{
	clear: both;
	margin-bottom: 10px;
}
#com_simule .maior{
	width: 350px;
}
#com_simule .medio{
	width: 200px;
}
#com_simule .menor{
	width: 100px;
}
#com_simule .botoes{
	width: 100%;
	text-align: center
}

