.roknewspager-pages {zoom: 1;}
.roknewspager-numbers {display: inline;}
.roknewspager-prev, .roknewspager-next, .roknewspager-prev-disabled, .roknewspager-next-disabled {margin-top: 1px;}
.article-rating {width: 160px;text-align:right;}