#componente{
	width: 100%;
}
.chave{
	float: left;
	width: 200px;
	text-align: right;
	margin-right: 10px;
}
.linha{
	margin-bottom: 10px;
}
.botao{
	text-align: center;
}
.formBusca{
	float: left;
}
.novoProjeto{
	float: right;
}
.tabelaProjeto{
	width: 100%;
}
.tabelaProjeto thead{
	background: #AAA;
}
.tabelaProjeto tr{
	height: 32px;
	border: 1px solid #000;
}
.linkMecenato{
	color: #304991;
}