#componente{
	width: 100%;
}
.chave{
	float: left;
	width: 200px;
	text-align: right;
	margin-right: 10px;
}
.linha{
	margin-bottom: 10px;
}
.botao{
	text-align: center;
}
.formBusca{
	float: left;
}
.novoProjeto{
	float: right;
}
.tabelaProjeto{
	width: 100%;
}
.tabelaProjeto thead{
	background: #AAA;
}
.tabelaProjeto tr{
	height: 32px;
}
.tabelaProjeto tr.row0{
	background-color: #a0b4c8;
}
.tabelaProjeto tr.row1{
	background-color: #ecd96c;
}
.tabelaProjeto .centro{
	text-align: center;
}
.tabelaProjeto .esquerda{
	text-align: left;
}
.tabelaProjeto a{
	color:#304991;
}
.linkMecenato{
	color: #304991;
}
.detalhamento{
	margin-bottom: 10px;
}
.corpoProjeto{
	margin-bottom: 10px;
}
.corpoProjeto .logo{
	float: right;
	margin: 10px;
}
.valor{
	float: left;
}
.campoTitulo{
	float: left;
	font-weight: bolder;
	width: 170px;
	text-align: right;
	margin-right: 5px;
}